utote/services/WebContent/WEB-INF/services/InitializeUnitedToteService/META-INF/StatusChange.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schema.unitedtote.com/ToteLink/2008/06/PubSub" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.unitedtote.com/ToteLink/2008/06/PubSub">
    <xs:complexType name="StatusChange">
        <xs:sequence>
            <xs:element name="SiteId" nillable="true" type="xs:string"/>
            <xs:element name="RunId" nillable="true" type="xs:string"/>
            <xs:element name="MessageTime" nillable="true" type="xs:dateTime"/>
            <xs:element name="TransactionTime" nillable="true" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="EventId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="RaceId" nillable="true" type="xs:int"/>
            <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string"/>
            <xs:element name="Action" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="MTP" nillable="true" type="xs:long"/>
            <xs:element minOccurs="0" name="SourceIds" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="StatusChange" nillable="true" type="tns:StatusChange"/>
</xs:schema>
